*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  font-size: 100.01%;
}

body{
	font-family: 'Sweet Sans Pro';
    background-color: $skylight;
    line-height: 1.35;
    font-weight: 300;
    font-size: 14px;
    color: $gray;
}

html, body{
	scroll-behavior: smooth;
}

.container{
	max-width: 95%;
	width: 100%;
	padding: 0;

	&-md{
		max-width: 1600px;
		width: 95%;
	}

	@include maxDevice(767px){
		max-width: 100%;
		padding: 0 15px;
	}
}

a{
	color: $gray;

	&:hover{
		color: $secondary;
		text-decoration: none;
	}
}

a, .btn, button{
	outline: none !important; 
}

p{
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 1.1em;

    @include maxDevice(767px){
    	font-size: 0.9em;
    }
}

strong{
	font-weight: 500;
}	

.btn{
	height: 48px;
	cursor: pointer;
	font-size: 16px;
	padding: 0 15px;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
    position: relative;
	display: inline-block;
	text-decoration: none;
	@include transition(0.25s all linear);

	@include maxDevice(1100px){
		font-size: 1em;
	}

	@include maxDevice(575px){
		font-size: 1.05em;
		padding-left: 12px;
		padding-right: 12px;
	}
	
	&[disabled]{
		cursor: auto;
	}

    svg{
		@include transition(0.25s all linear);
	}

	&-reset{
		box-shadow: none !important;
		line-height: normal;
		background: none;
		outline: none;
		border: none;
		height: auto;
		padding: 0;
	}

	&-sm{
		color: $gray;
		font-size: 14px;
	}

	&-noshadow{
		box-shadow: none !important;

		&:hover, &:focus, &:active{
			box-shadow: none !important;
		}
	}

	&-grad{
		border-radius: 19px;
		@include linear-gradient(136deg, #EBF3FA, #CBE0F7);
		@include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5));
	}

	&-grad-primary{		
        @include radial-gradient(circle, #FFF900, #F8E71C);
		border-width: 0 !important;
		color: $secondary !important;

		&:hover{
			@include radial-gradient(circle, #F8E71C, #FFF900);		
		}

		&:active{
			@include radial-gradient(circle, #FFF900, #F8E71C);	
		}

		&:focus{
			@include radial-gradient(circle, #F8E71C, #FFF900);
		}
	}

	&-dark-grad{
		height: auto;
		line-height: 1;
		font-size: 22px;
		font-weight: 500;
		padding: 30px 25px;
		border-radius: 16px;
		color: $white !important;
		@include linear-gradient(136deg, #3C3C3C, #010101);
		@include box-shadow(4px 4px 18px rgba(0,0,0,0.5), -4px -4px 18px rgba(82,82,82,0.5));

		&:hover{
			@include box-shadow(4px 4px 15px rgba(0,0,0,0.8), -4px -4px 15px rgba(82,82,82,0.8));
		}

		img{
			display: inline-block;
			vertical-align: middle;
		}

		@include maxDevice(991px){
			padding: 18px 20px;
			height: 72px;
		}

		@include maxDevice(767px){
			padding: 17px 15px;
			font-size: 18px;

			img{
				max-width: 18px;
			}
		}
	}

	&-price{
		font-weight: 500;
		line-height: 1.1;

		small{
			font-size: 13px;
		}
	}

	&-white{
		color: $gray;
		background: #fff;
	}

	&-radius{
		border-radius: 25px;
	}

	&-shadow{
		@include box-shadow(2px 2px 16px rgba(0,0,0, 0.5), -2px -2px 16px rgba(94,94,94, 0.5));

		@include maxDevice(767px){
			@include box-shadow(2px 2px 16px rgba(0,0,0, 0.15), -2px -2px 16px rgba(94,94,94, 0.15));
		}
	}
	&-code{
		width: 120px;
		height: auto;
		color: $gray;
		height: 120px;
		font-size: 20px;
		font-weight: 400;

		@include maxDevice(767px){
			width: 100px;
			height: 100px;
			font-size: 16px;
		}

		img{
			display: block;
			max-height: 26px;
			margin: 0 auto 10px;
		}
	}
}

.rounded-2x{
	border-radius: 25px;
}

button.btn{
	line-height: normal;
}

.dropdown-noarrow:after{
	display: none;
}

a, .btn{
	@include transition(all 0.35s linear);
}

p{
	margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6, .h3{
	font-weight: bold;
	color: $secondary;
}

ol, ul{
	@include maxDevice(575px){
		padding-left: 20px;
	}
	ol, ul{
		margin-bottom: 35px;
		margin-top: 15px;

		@include maxDevice(575px){
			margin-bottom: 20px;
			padding-left: 15px;
			margin-top: 10px;
		}
	}
}

ol{
	ol{
		list-style-type: upper-roman;
	}
}

.text-normal{
	text-transform: none !important;
}

.text-danger{
	a{
		color: inherit !important;
	}
}

.text-secondary{
	color: $secondary !important;
}

.nowrap{
	white-space: nowrap;
}

.overflow-auto{
	overflow: auto;
}

.mh-100{
    min-height: 100vh;
}

.border-left-dashed{
	border-left: 2px dashed #979797;
}

@include maxDevice(767px){
	.mh-100{
		min-height: auto;
	}
	.mb-5, .my-5 {
	    margin-bottom: 1.6rem!important;
	}
	.mt-5, .my-5 {
	    margin-top: 1.6rem!important;
	}
	.pb-4, .py-4 {
	    padding-bottom: 0.8rem!important;
	}
	.pt-4, .py-4 {
	    padding-top: 1rem!important;
	}
	.pb-5, .py-5 {
	    padding-bottom: 1.6rem!important;
	}
	.pt-5, .py-5 {
	    padding-top: 1.6rem!important;
	}
}