.form{
    &-control{
        height: 65px;
        font-size: 18px;
        padding: 6px 30px;
        border-radius: 16px;
        letter-spacing: -0.6px;
        font-weight: 400 !important;
        font-family: 'Sweet Sans Pro';
        background-color: $skylight-30;
        // background: -webkit-linear-gradient(46deg, #EBF3FA, #CBE0F7);
        // background: -o-linear-gradient(46deg, #EBF3FA, #CBE0F7);
        // background: linear-gradient(136deg, #EBF3FA, #CBE0F7);


        @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
        @include transition(all 0.35s linear);

        @include maxDevice(575px){
            height: 52px;
            font-size: 17px;
            padding: 6px 24px;
        }

        &:focus{
            background-color: rgba($skylight-30, 0.4);
        }

        &.no-apperance{
            -webkit-appearance: none;
            -moz-appearance:    none;
            appearance:         none;
        }

        &-label{
            cursor: pointer;
            line-height: 45px;

            @include maxDevice(575px){
                line-height: 38px;
            }

            img{
                display: inline-block;
                vertical-align: top;
            }
        }
    }
    
    &-shadow{
        @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5), inset 10px 10px 40px rgba(112,122,134,0.5), inset -10px -10px 40px rgba(255,255,255,0.5));

        &:focus{
            @include box-shadow(10px 10px 40px rgba(156,169,185,0.1), -10px -10px 40px rgba(255,255,255,0.1), inset 10px 10px 40px rgba(112,122,134,0.1), inset -10px -10px 40px rgba(255,255,255,0.1));
        }

        @include maxDevice(575px){
            @include box-shadow(5px 5px 20px rgba(156,169,185,0.5), -5px -5px 20px rgba(255,255,255,0.5), inset 5px 5px 20px rgba(112,122,134,0.5), inset -5px -5px 20px rgba(255,255,255,0.5));

            &:focus{
                @include box-shadow(5px 5px 20px rgba(156,169,185,0.1), -5px -5px 20px rgba(255,255,255,0.1), inset 5px 5px 20px rgba(112,122,134,0.1), inset -5px -5px 20px rgba(255,255,255,0.1));
            }
        }
    }

    &-outerShadow{
        @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5));

        &:focus{
            @include box-shadow(10px 10px 40px rgba(156,169,185,0.1), -10px -10px 40px rgba(255,255,255,0.1));
        }

        @include maxDevice(575px){
            @include box-shadow(5px 5px 20px rgba(156,169,185,0.5), -5px -5px 20px rgba(255,255,255,0.5));

            &:focus{
                @include box-shadow(5px 5px 20px rgba(156,169,185,0.1), -5px -5px 20px rgba(255,255,255,0.1));
            }
        }
    }

    &-radius{
        border-radius: 16px;
    }

    &-group{
        margin-bottom: 20px;
        position: relative;

        h5{
            font-size: 28px;
            padding-top: 8px;
            margin-bottom: 15px;

            @include maxDevice(1200px){
                font-size: 20px;
            }
        }
        h6{
            font-size: 22px;
            margin-bottom: 14px;

            @include maxDevice(1200px){
                font-size: 16px;
            }
        }
    }

    &-btn{
        height: 65px;

        @include maxDevice(575px){
            height: 58px;
        }

        &[href]{
            line-height: 65px;

            @include maxDevice(575px){
                line-height: 58px;
            }
        }
    }

    &-btn, &-grad, &-choose label{
        font-size: 18px;
        color: $gray-60;
        font-weight: 400;
        padding-left: 30px;
        border-radius: 16px;
        padding-right: 30px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
        font-family: 'Sweet Sans Pro';
        @include transition(0.25s all linear);

        @include linear-gradient((136deg, #EBF3FA, #CBE0F7));
        @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5));

        @include maxDevice(991px){
            font-size: 15px;
            padding-left: 20px;
            padding-right: 20px;
        }
        @include maxDevice(575px){
            padding-left: 24px;
            padding-right: 24px;
            @include box-shadow(5px 5px 20px rgba(156,169,185,0.5), -5px -5px 20px rgba(255,255,255,0.5));
        }

        &:hover{
            @include box-shadow(3px 6px 4px rgba(156,169,185,0.5));
            color: $secondary;
        }

        img{
            max-width: 18px;
        }
    }

    &-label{
        margin-bottom: 12px;
        font-weight: 700;
        color: $gray-60;
        font-size: 16px;
    }

    &-choose{
        input{
            display: none;
        }
        label{
            width: 100%;
            height: 65px;
            cursor: pointer;
            font-weight: 500;
            margin-bottom: 0;
            line-height: 65px;
            padding-left: 10px;
            padding-right: 10px;

            @include maxDevice(575px){
                height: 52px;
                font-size: 16px;
                line-height: 52px;
                padding-left: 5px;
                padding-right: 5px;
            }

            img{
                vertical-align: text-top;
                display: inline-block;
                margin-right: 10px;
                max-width: 25px;
            }
        }

        &-box{
            padding: 5px;

            label{
                height: 100px;
                font-size: 15px;
                // line-height: normal;
                line-height: 1.15;

                @include flexbox();
                @include align-items(center);
                @include justify-content(center);

                @include maxDevice(1200px){
                    font-size: 14px;
                    height: 80px;
                }
            }
        }

        input.form-check-input:checked + label{
            @include box-shadow(3px 6px 4px rgba(156,169,185,0.5), inset 10px 10px 40px rgba(112,122,134,0.5), inset -10px -10px 40px rgba(255,255,255,0.5));
        }
    }

    &-bet-amount{
        width: 100%;
        height: auto;
        text-align: left;
        line-height: normal;
        border-radius: 16px;        
        padding: 8px 8px 8px 25px;
        @include linear-gradient(136deg, #3C3C3C, #010101);
        @include box-shadow(4px 4px 18px rgba(0,0,0,0.5), -4px -4px 18px rgba(82,82,82,0.5), inset 2px 2px 8px rgba(0,0,0,0.5),  inset -2px -2px 8px rgba(60,60,60,0.5));

        @include maxDevice(575px){
            padding-left: 15px;
        }

        .submitText{
            margin-top: auto;
            margin-bottom: auto;
        }

        input, .submitText{
            width: 100%;
            outline: none;
            font-size: 24px;
            font-weight: 500;
            color: #ffffff;
            letter-spacing: -0.7499999px;

            @include maxDevice(575px){
                font-size: 18px;
            }

            &::-webkit-input-placeholder {
                color: $white;
            }
            &:-ms-input-placeholder {
                color: $white;
            }
            &::placeholder {
                color: $white;
            }
        }

        .btn-arrow, .btn{
            width: 115px;
            height: 70px;
            text-align: center;
            border-radius: 16px;
            @include flexbox();
            @include linear-gradient(136deg, #FFFFFF, #A0A0A0);
            @include box-shadow(2px 2px 8px rgba(198,198,198,0.5), -2px -2px 8px rgba(255,255,255,0.5));

            img{
                margin: auto;
            }

            @include maxDevice(575px){
                width: 70px;
                height: 50px;
            }
        }
    }

    &-search{
        .form-control{
            padding-left: 75px;
        }

        .search-icon{
            background-color: transparent !important;
            right: auto;
            left: 30px; 
            bottom: 0;
            top: 0;
        }
    }

    &-quality{
        .btn, .form-control{
            background: none !important;
            text-align: center;
            border-width: 0;
            height: 50px;   
        }
        .form-control{
            color: $secondary-30;
            font-weight: 500;
            font-size: 30px;
        }   
        .btn{
            width: 60px;
            color: $white;
            line-height: 1;
            font-size: 28px;
            border-radius: 6.66px !important;
            background: -webkit-linear-gradient(136deg, #3C3C3C, #010101) !important;
            background: -o-linear-gradient(136deg, #3C3C3C, #010101) !important;
            background: linear-gradient(136deg, #3C3C3C, #010101) !important;
            @include box-shadow(10px 10px 28px rgba(83,83,83,0.5), -10px -10px 28px rgba(200,200,200,0.5));

            img{
                margin: auto;
                display: block;
                max-width: 80%;
                filter: invert(1);
            }
        }
    }
}

.label{
    &-box{
        display: block;
        cursor: pointer;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 400;
        border-radius: 16px;
        padding: 35px 25px 40px;
        @include transition(0.25s all linear);
        @include linear-gradient(136deg, #EBF3FA, #CBE0F7); 
        @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5), inset 0 0 0 rgba(0,0,0,0));

        @include maxDevice(575px){
            @include box-shadow(5px 5px 20px rgba(156,169,185,0.5), -5px -5px 20px rgba(255,255,255,0.5), inset 0 0 0 rgba(0,0,0,0));
        }

        strong{
            display: block;
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 5px;
            color: $secondary-30;
        }
    }
}

input{
    &:checked + .label-box{
        @include box-shadow(3px 6px 4px rgba(156,169,185,0.5), inset 10px 10px 40px rgba(112,122,134,0.5), inset -10px -10px 40px rgba(255,255,255,0.5));
    }
    
    &:read-only{
        opacity: 0.6;
    }
}

.react-tel-input{
    @include flexbox();
    @include flex-direction(row-reverse);

    .form-control{
        width: 100%;
    }

    .form-control, .selected-flag{
        height: 65px;
        font-size: 18px;
        padding: 6px 30px;
        letter-spacing: -0.6px;
        border-radius: 16px !important;
        @include linear-gradient(136deg, #EBF3FA, #CBE0F7);

        @include maxDevice(575px){
            height: 58px;
            font-size: 17px;
            padding: 6px 15px;
        }
    }
    
    .country-list{
        font-size: 16px;
        @include linear-gradient(136deg, #EBF3FA, #CBE0F7);    
        @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5), inset 10px 10px 40px rgba(112,122,134,0.5), inset -10px -10px 40px rgba(255,255,255,0.5));
        
        @include maxDevice(575px){
            @include box-shadow(5px 5px 20px rgba(156,169,185,0.5), -5px -5px 20px rgba(255,255,255,0.5), inset 5px 5px 20px rgba(112,122,134,0.5), inset -5px -5px 20px rgba(255,255,255,0.5));
        }
    }
    
    .flag-dropdown{
        border-width: 0;
        margin-right: 15px;
        position: relative;
        border-radius: 16px !important;
        background-color: transparent !important;

        &.open{
            .selected-flag{
                @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
            }
        }
    }
    
    .selected-flag {
        width: 105px;
        @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5), inset 10px 10px 40px rgba(112,122,134,0.5), inset -10px -10px 40px rgba(255,255,255,0.5));
        
        @include maxDevice(575px){
            width: 68px;
            @include box-shadow(5px 5px 20px rgba(156,169,185,0.5), -5px -5px 20px rgba(255,255,255,0.5), inset 5px 5px 20px rgba(112,122,134,0.5), inset -5px -5px 20px rgba(255,255,255,0.5));
        }

        .arrow{
            left: 32px;
            border-top-width: 8px;
            border-left-width: 7px;
            border-right-width: 7px;

            @include maxDevice(575px){
                left: 25px;
            }

            &.up{
                border-top-width: 0;
                border-bottom-width: 8px;
            }
        }
    }
}

.error_msg{
    right: 20px;
    bottom: 10px;
    width: auto;
    font-size: 90%;
    font-weight: 400;
    color: #dc3545;
    margin-top: .25rem;
    position: absolute;

    @include maxDevice(900px){
        right: 0;
        bottom: 0;
        padding-top: 5px;
        text-align: right;
        position: relative;
    }

    @include maxDevice(575px){
        bottom: -15px;
        font-size: 85%;
        position: absolute;
    }
}

.custom_check{
    position: relative;
    padding-left: 30px;
    min-height: 25px;

    input:checked + span{
        &::after{
            @include transform(rotate(-45deg) scale(1));
        }
    }

    span{
        cursor: pointer;
        display: inline-block;

        a{
            text-decoration: underline;
            color: $secondary;
        }

        &::before{
            @include linear-gradient(136deg, #EBF3FA, #CBE0F7); 
            border: 1px solid #cecece;
            position: absolute;
            border-radius: 4px;
            height: 20px;
            width: 20px;
            content: "";
            left: 0;
            top: 5px;
        }

        &::after{
            top: 11px;
            left: 5px;
            content: "";
            width: 11px;
            height: 5px;
            position: absolute;
            @include transition(all 0.35s ease-out);
            @include transform(rotate(0deg) scale(0));
            border-bottom: 2px solid $secondary-30;
            border-left: 2px solid $secondary-30;
        }
    }
}