.form{
    &-control{
        height: 65px;
        font-size: 18px;
        padding: 6px 30px;
        border-radius: 16px;
        letter-spacing: -0.6px;
        font-weight: 400 !important;
        font-family: 'Sweet Sans Pro';
        background-color: $skylight-30;
        // background: -webkit-linear-gradient(46deg, #EBF3FA, #CBE0F7);
        // background: -o-linear-gradient(46deg, #EBF3FA, #CBE0F7);
        // background: linear-gradient(136deg, #EBF3FA, #CBE0F7);


        @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
        @include transition(all 0.35s linear);

        &:focus{
            background-color: rgba($skylight-30, 0.4);
        }

        &.no-apperance{
            -webkit-appearance: none;
            -moz-appearance:    none;
            appearance:         none;
        }

        &-label{
            cursor: pointer;
            line-height: 45px;

            img{
                display: inline-block;
                vertical-align: top;
            }
        }
    }

    &-shadow{
        @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5), inset 10px 10px 40px rgba(112,122,134,0.5), inset -10px -10px 40px rgba(255,255,255,0.5));

        &:focus{
            @include box-shadow(10px 10px 40px rgba(156,169,185,0.1), -10px -10px 40px rgba(255,255,255,0.1), inset 10px 10px 40px rgba(112,122,134,0.1), inset -10px -10px 40px rgba(255,255,255,0.1));
        }
    }

    &-outerShadow{
        @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5));

        &:focus{
            @include box-shadow(10px 10px 40px rgba(156,169,185,0.1), -10px -10px 40px rgba(255,255,255,0.1));
        }
    }

    &-radius{
        border-radius: 16px;
    }

    &-group{
        margin-bottom: 20px;

        h5{
            font-size: 28px;
            padding-top: 8px;
            margin-bottom: 15px;
        }
        h6{
            font-size: 22px;
            margin-bottom: 14px;
        }
    }

    &-btn{
        height: 65px;

        &[href]{
            line-height: 65px;
        }
    }

    &-btn, &-grad, &-choose label{
        font-size: 18px;
        color: $gray-60;
        font-weight: 400;
        padding-left: 30px;
        border-radius: 16px;
        padding-right: 30px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
        font-family: 'Sweet Sans Pro';
        @include transition(0.25s all linear);

        @include linear-gradient((136deg, #EBF3FA, #CBE0F7));
        @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5));

        &:hover{
            @include box-shadow(3px 6px 4px rgba(156,169,185,0.5));
            color: $secondary;
        }

        img{
            max-width: 18px;
        }
    }

    &-label{
        margin-bottom: 12px;
        font-weight: 700;
        color: $gray-60;
        font-size: 16px;
    }

    &-choose{
        input{
            display: none;
        }
        label{
            width: 100%;
            height: 65px;
            cursor: pointer;
            font-weight: 500;
            margin-bottom: 0;
            line-height: 65px;

            img{
                vertical-align: text-top;
                display: inline-block;
                margin-right: 10px;
                max-width: 25px;
            }
        }

        &-box{
            label{
                height: auto;
                padding-top: 25%;
                padding-bottom: 25%;
                line-height: normal;
            }
        }

        input.form-check-input:checked + label{
            @include box-shadow(3px 6px 4px rgba(156,169,185,0.5), inset 10px 10px 40px rgba(112,122,134,0.5), inset -10px -10px 40px rgba(255,255,255,0.5));
        }
    }

    &-bet-amount{
        border-radius: 16px;        
        padding: 8px 8px 8px 25px;
        @include linear-gradient(136deg, #3C3C3C, #010101);
        @include box-shadow(4px 4px 18px rgba(0,0,0,0.5), -4px -4px 18px rgba(82,82,82,0.5), inset 2px 2px 8px rgba(0,0,0,0.5),  inset -2px -2px 8px rgba(60,60,60,0.5));

        input, .submitText{
            width: 100%;
            outline: none;
            font-size: 24px;
            font-weight: 500;
            color: #ffffff;
            letter-spacing: -0.7499999px;

            &::-webkit-input-placeholder {
                color: $white;
            }
            &:-ms-input-placeholder {
                color: $white;
            }
            &::placeholder {
                color: $white;
            }
        }

        .btn{
            width: 115px;
            height: 70px;
            border-radius: 16px;
            @include linear-gradient(136deg, #FFFFFF, #A0A0A0);
            @include box-shadow(2px 2px 8px rgba(198,198,198,0.5), -2px -2px 8px rgba(255,255,255,0.5));
        }
    }

    &-search{
        .form-control{
            padding-left: 75px;
        }

        .search-icon{
            background-color: transparent !important;
            left: 30px; 
            top: 18px;
        }
    }

    &-quality{
        .btn, .form-control{
            background: none !important;
            text-align: center;
            border-width: 0;
            height: 50px;   
        }
        .form-control{
            color: $secondary-30;
            font-weight: 500;
            font-size: 30px;
        }   
        .btn{
            width: 60px;
            color: $white;
            line-height: 1;
            font-size: 28px;
            border-radius: 6.66px !important;
            background: -webkit-linear-gradient(136deg, #3C3C3C, #010101) !important;
            background: -o-linear-gradient(136deg, #3C3C3C, #010101) !important;
            background: linear-gradient(136deg, #3C3C3C, #010101) !important;
            @include box-shadow(10px 10px 28px rgba(83,83,83,0.5), -10px -10px 28px rgba(200,200,200,0.5));

            img{
                margin: auto;
                display: block;
                max-width: 80%;
                filter: invert(1);
            }
        }
    }
}

.label{
    &-box{
        display: block;
        cursor: pointer;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 400;
        border-radius: 16px;
        padding: 35px 25px 40px;
        @include transition(0.25s all linear);
        @include linear-gradient(136deg, #EBF3FA, #CBE0F7); 
        @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5), inset 0 0 0 rgba(0,0,0,0));

        strong{
            display: block;
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 5px;
            color: $secondary-30;
        }
    }
}

input:checked + .label-box{
    @include box-shadow(3px 6px 4px rgba(156,169,185,0.5), inset 10px 10px 40px rgba(112,122,134,0.5), inset -10px -10px 40px rgba(255,255,255,0.5));
}