$primary: #F8E71C;
$secondary: #2D2F33;
$secondary-30: #3A3A3A;

$gray : #898A89;
$gray-10 : #ABABAB;
$gray-20 : #DEDEDE;
$gray-50 : #2D2F33;
$gray-60 : #626467;
$gray-68 : #686868;
$gray-90 : #9b9b9b;
$gray-97 : #979797;

$dark : #000000;
$white : #ffffff;

$skylight: #E2EEF9;
$skylight-30: #D4E0ED;
$skylight-10: #cce1f7;