.footer{
    padding: 60px 0;
    color: $secondary;
    position: relative;
    z-index: 5;

    @include maxDevice(1200px){
        padding: 40px 0;
    }
    @include maxDevice(767px){
        padding: 20px 0;
        margin-top: 30px;
        margin-bottom: 25%;
    }
    
    &-inner{
        font-size: 20px;
        font-weight: 500;
        padding: 60px 0 30px;
        border-radius: 191px;
        @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
        @include box-shadow(15px 15px 60px rgba(156,169,185,0.5), -15px -15px 60px rgba(255,255,255,0.5));

        @include maxDevice(1600px){
            padding: 35px 0 20px;            
            font-size: 18px;
        }

        @include maxDevice(767px){
            padding: 20px 0;
            border-radius: 30px;
            background: linear-gradient(136deg, #EBF3FA, #CBE0F7);
            @include box-shadow(2px 2px 10px rgba(156,169,185,0.5), -2px -2px 10px rgba(255,255,255,0.5));

            ul.d-flex{
                li{
                    max-width: 50%;
                    margin-bottom: 5px;
                    @include flex(0 0 50%);
                }
            }
        }

        @include maxDevice(575px){
            font-size: 16px;
        }

        a{
            color: $secondary;
        }

        .f_logo{
            @include maxDevice(1600px){
                max-width: 60px;
            }
            @include maxDevice(767px){
                max-width: 48px;
            }
        }
    }

    .copyright{
        border-top: dashed 2px $gray-50;
        border-bottom: dashed 2px $gray-97;
        padding: 20px 5px;
        margin: 35px 0;

        @include maxDevice(1600px){
            padding: 15px 5px;
            margin: 20px 0;
        }

        @include maxDevice(767px){
            padding: 10px 5px;
            border-color: #979797;
        }
    }
}