.footer{
    padding: 60px 0;
    font-size: 20px;
    font-weight: 500;
    color: $secondary;

    &-inner{
        padding: 60px 0 30px;
        border-radius: 191px;
        @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
        @include box-shadow(15px 15px 60px rgba(156,169,185,0.5), -15px -15px 60px rgba(255,255,255,0.5));

        a{
            color: $secondary;
        }
    }

    .copyright{
        border-top: dashed 2px $gray-50;
        border-bottom: dashed 2px $gray-97;
        padding: 20px 5px;
        margin: 35px 0;
    }
}