.header{
    padding: 10px 0;
    z-index: 1024;  
    width: 100%;
    top: 10px;

    @include maxDevice(991px){
        top: 0;
        padding: 10px;
    }

    .ads-frame{
        max-width: 40%;
    }

    &-controls{
        .btn{
            font-family: 'HelveticaNowText';
            letter-spacing: 1.727px;
            line-height: 40px;
            font-weight: 500;   
            font-size: 14px;
            height: 40px;

            @include maxDevice(767px){
                height: 35px;
                font-size: 13px;
                line-height: 35px;
            }
        }
    }

    a{
        color: $secondary;
    }

    .navbar{
        max-width: 95%;
        margin: auto;
        width: 100%;
        padding: 0;

        @include maxDevice(991px){
            max-width: 100%;
            padding: 5px 15px;
            border-radius: 31px;
            background: #fbfcfe;
            @include box-shadow(10px 10px 24px #d6e1ef, -10px -10px 20px rgba(255,255,255,0.5));
        }

        &-nav{
            a{
                font-family: 'Sweet Sans Pro';
                color: $secondary !important;
                font-weight: normal;
                font-size: 18px;

                @include maxDevice(1200px){
                    font-size: 16px;
                }

                &.nav-link{
                    margin: 0 20px;

                    @include maxDevice(1200px){
                        margin: 0 8px;
                    }

                    @include maxDevice(991px){
                        margin: 0;
                        font-size: 21px;
                    }
                }
            }
        }

        &-collapse{
            &.show{
                padding-bottom: 20px;
            }
        }

        &-brand{
            img{
                max-width: 60px;

                @include maxDevice(991px){
                    max-width: 42px;
                }

                @include maxDevice(575px){
                    max-width: 36px;
                }
            }
        }

        &-back{
            @include minDevice(992px){
                width: 80px;
                height: 80px;
                line-height: 75px;
                text-align: center;
                border-radius: 30px;
                @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
                @include box-shadow(2px 2px 8px rgba(156,169,185,0.5), -2px -2px 8px rgba(255,255,255,0.5));
            }
            @include maxDevice(991px){
                padding: 0;
            }
            background-color: transparent !important;

            img{
                display: inline-block;
                vertical-align: text-top;
            }
        }
    }

    &-points{
        min-width: 85px;
        color: $dark;
        height: 60px;
        padding: 0 10px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        border-radius: 8px;

        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include radial-gradient(circle, #FFF900, #F8E71C);
        @include box-shadow(-2px -2px 16px rgba(198,198,198,0.5), 2px 2px 16px rgba(250,250,250,0.5));

        @include maxDevice(991px){
            height: 38px;
            font-size: 14px;
            line-height: 37px;
        }
    }

    &-user{
        img{
            height: 50px;
            max-width: 50px;
            object-fit: cover;
            border-radius: 50px;
            -o-object-fit: cover;
            object-position: center;
            -o-object-position: center;
        }
    }

    &-dashboard{
        .navbar{
            @include minDevice(992px){
                border-radius: 70px;
                padding: 15px 35px 10px;
                @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
                @include box-shadow(15px 15px 60px rgba(156,169,185,0.5), -15px -15px 60px rgba(255,255,255,0.5));
            }
        }
    }
}