
h1{
    font-size: 44px;
    margin-bottom: 15px;

    @include maxDevice(991px){
        font-size: 38px;
    }

    @include maxDevice(767px){
        font-size: 36px;
        margin-bottom: 12px;
    }

    @include maxDevice(479px){
        font-size: 30px;
    }
}

h4{
    color: $secondary-30;
    font-weight: 700;
    font-size: 25px;

    @include maxDevice(991px){
        font-size: 20px;
    }
}

.display{
    &-1{
        line-height: .85;
        font-size: 125px;
        font-weight: 700;
        letter-spacing: -4.984375px;

        @include maxDevice(1600px){
            font-size: 95px;
        }

        @include maxDevice(1200px){
            font-size: 75px;
        }

        @include maxDevice(575px){
            font-size: 62px;
        }
    }

    &-3{
        font-size: 75px;
        line-height: .85;
        font-weight: 700;
        letter-spacing: -2.931985px;

        @include maxDevice(1600px){
            font-size: 56px;
        }

        @include maxDevice(575px){
            font-size: 42px;
        }
    }
}

.col{
    &-content{
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        max-width: 680px;
        width: 100%;
    }
}

.top_offset{
    padding-top: 200px;

    &.position-relative{
        position: static !important;
    }

    @include maxDevice(991px){
        padding-top: 150px;
    }

    @include maxDevice(767px){
        padding-top: 130px;
    }

    @include maxDevice(575px){
        padding-top: 115px;
    }
}

.content-area{
    p.lead{
        font-size: 24px;

        @include maxDevice(767px){
            font-size: 20px;
        }
    }
}

.li-grad{
    @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
}

.page-content{
    position: relative;
    overflow: hidden;
}
    
.outer-view{
    // position: relative;
    // overflow: hidden;

    .ovel-bottom-left{
        left: 0;
        bottom: 0;
        height: 62%;
        max-width: 32%;
        position: absolute;

        @include maxDevice(767px){
            height: 80%;
            max-width: 60%;
        }
    }
    .oval-top-left{
        left: 0;
        top: 38%;
        bottom: auto;
        max-width: 60%;
        position: absolute;
        max-height: calc(100vh - 100px);
    }
    .ovel-bottom-right{
        right: 0;
        top: 100px;
        bottom: auto;
        max-width: 60%;
        position: absolute;
        max-height: calc(100vh - 100px);
    }
}

.modal{
    &-radius{
        .modal-content{
            border-radius: 15px;
            border-width: 0px;

            .embed-responsive{
                border-radius: 15px;
            }
        }
    }
    &-close{
        top: 0;
        right: -45px;
        color: $white;
        position: absolute;

        @include maxDevice(767px){
            right: 0;
            top: -45px;
        }

        svg{
            width: 40px;
            height: 40px;
        }
    }
}

.grid{
    &_box{
        margin: 0 -15px;

        li{
            padding: 0 15px;
            margin-bottom: 40px;

            @include maxDevice(767px){
                margin-bottom: 20px;
                padding: 0 10px;
            }
        }

        &_3{
            li{
                max-width: 33.33%;
                @include flex(0 0 33.33%);
            }
        }

        &_item{
            // min-height: 200px;
            padding-bottom: 100%;
            border-radius: 42px;
            @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
            @include box-shadow(15px 15px 60px rgba(156,169,185,0.5), -15px -15px 60px rgba(255,255,255,0.5), inset -15px -15px 60px rgba(255,255,255,0.5));

            @include maxDevice(767px){
                border-radius: 20px;
            }
        }
    }
}

.redeem{
    &_box{
        min-height: 300px;
        padding-top: 40px !important;
        padding-bottom: 60px !important;

        @include maxDevice(767px){
            min-height: 220px;
        }
    }

    &-points{
        font-weight: 700;
        color: $gray-50;
        font-size: 22px;
        bottom: 25px;
        left: 30px;
    }
}

.post, .bet{
    &_box{
        font-size: 18px;
        font-weight: 500;
        position: relative;
        border-radius: 30px;
        padding: 45px 20px 50px;
        @include transition(all 0.35s ease);
        @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
        @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5));

        &:hover{
            @include box-shadow(15px 15px 60px rgba(156,169,185,0.5), -15px -15px 60px rgba(255,255,255,0.5), inset -15px -15px 60px rgba(255,255,255,0.6));
        }

        @include minDevice(1600px){
            padding-left: 30px;
            padding-right: 30px;
        }

        @include maxDevice(767px){
            background: #ffffff;
            border-radius: 20px;
            font-size: 16px;
        }

        h2{
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 0.3em;
            color: $secondary-30;

            @include maxDevice(991px){
                font-size: 22px;
            }

            &:hover{
                color: $dark;
            }
    
            a{
                color: inherit;
            }
        }
    }

    &_innerglow{
        @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5), inset 10px 10px 40px rgba(112,122,134,0.5), inset -10px -10px 40px rgba(255,255,255,0.5));
    }

    &_horseIcon{
        top: 18px;
        right: 25px;
        opacity: 0.35;
        max-height: 40px;
        position: absolute;

        @include maxDevice(767px){
            top: 12px;
        }
    }

    &_logo{
        top: 25px;
        right: 25px;
        max-height: 25px;
        position: absolute;
    }

    &_type{
        color: $gray-10;
        font-size: 14px;
        letter-spacing: 3.3696px;
    }

    &_text{
        color: $gray-10;
        font-size: 18px;
        // min-height: 44px;
        padding-bottom: 15px;
        margin-bottom: 12px;
        border-bottom: 2px dashed $primary;

        @include maxDevice(767px){
            font-size: 16px;
        }
    }

    &_info{
        font-size: 17px;
        color: $gray-10;
        font-size: 16px;
        margin-bottom: 15px;
        padding-bottom: 18px;
        border-bottom: 2px dashed $primary;
    }

    &_results{
        line-height: 1.4;
        font-size: 14px;
        color: $gray-10;
        font-weight: 500;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 2px dashed rgba(254, 59, 33, 0.363);

        strong{
            display: block;
            font-size: 16px;
            color: $gray-50;
        }

        & > div{
            max-width: 55%;
            @include flex(0 0 55%);

            &:first-child{
                max-width: 45%;
                @include flex(0 0 45%);
            }
        }
    }

    &_users{
        width: 100%;

        img{
            margin-right: 5px;
            // max-width: 45px;
            width: 14%;
        }

        span{
            width: 15%;
            line-height: 1;
            font-size: 16px;
            color: $gray-68;
            font-weight: 500;
            padding: 3% 0 5%;
            text-align: center;
            border-radius: 25px;
            background-color: $gray-20;
        }
    }
}

.post{
    &_box{
        @include maxDevice(767px){
            padding: 50px 15px 20px;
        }
    }
}

.bet{
    &_box{
        @include maxDevice(767px){
            padding: 25px 15px 20px;
        }
    }
    &_info{
        padding: 8px 0;
        margin: 20px 0 10px;
        border-bottom: 2px dashed rgba(254, 59, 33, 0.4);
        border-top: 2px dashed rgba(254, 59, 33, 0.4);
    }
}

.heading{
    &-area{
        font-size: 35px;
        line-height: 1.2;
        font-weight: 300;

        @include maxDevice(1600px){
            font-size: 25px;
        }

        p{
            font-weight: 300;
        }

        .post_type{
            font-size: 16px;
        }

        h1{
            color: $secondary-30;
            margin-bottom: 0.7em;
            font-weight: 700;
            line-height: 0.9;
            font-size: 52px;

            @include maxDevice(1600px){
                font-size: 42px;
            }

            @include maxDevice(991px){
                font-size: 38px;
            }

            @include maxDevice(575px){
                font-size: 30px;
            }
        }

        strong{
            font-weight: 500;
            color: $gray-50;
        }
    }
}

.ads{
    &-frame{
        padding: 15px;
        max-width: 80%;
        border-radius: 20px;
        background-color: $skylight-30;
    
        @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
        @include box-shadow(inset 2px 2px 8px rgba(112,122,134,0.5), inset -2px -2px 8px rgba(255,255,255,0.5));

        @include maxDevice(767px){
            // border-radius: 20px 20px 0 0;
            max-width: 100%;
            padding: 15px;
            border-radius: 20px 20px;
            position: fixed;
            z-index: 888;
            bottom: 10px;
            left: 15px;
            right: 15px;
        }
    
        img{
            max-width: 100%;
        }
    }
    
    &-portFrame{
        width: 100%;
        margin: auto;
        display: block;
        max-width: 300px;
        border-radius: 63px;
    
        @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
        @include box-shadow(20px 20px 50px rgba(156,169,185,0.5), -20px -20px 50px rgba(255,255,255,0.5), inset 20px 20px 30px rgba(112,122,134,0.5), inset -20px -20px 30px rgba(255,255,255,0.5));

        @include maxDevice(991px){
            border-radius: 22px;
        }

        img{
            max-width: 90%;
            display: block;
            margin: auto;
        }
    }
}

.category{
    &_list{
        overflow: auto;
        padding: 20px 0 38px;

        &::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }  
        
        @include maxDevice(991px){
            padding-top: 0;
            padding-bottom: 12px;
        }
    }

    &_item{
        text-transform: uppercase;  
        position: relative;  
        border-radius: 8px;
        text-align: center;
        margin-left: 30px;
        color: #ffffff;
        min-width: 180px;
        font-weight: 700;
        padding: 0 10px;
        font-size: 18px;
        height: 65px;
        z-index: 1;

        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include box-shadow(-8px -8px 30px rgba(255,255,255,0.5), 8px 8px 30px rgba(0,0,0,0.5));

        @include maxDevice(991px){
            @include box-shadow(none);
            border-radius: 8px;
            margin-left: 15px;
            min-width: 120px;
            height: 65px;
        }

        @include maxDevice(768px){
            margin-left: 10px;
            min-width: 90px;
            font-size: 16px;
            height: 65px;
        }


        &:before{
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            height: 100%;
            z-index: -1;
            content: "";
            width: 100%;
            left: 0;
            top: 0;
        }

        &:hover{
            .category_image{
                @include transform(scale(1.2));
            }
        }
    }

    &_image{
        top: 0;
        left: 0;
        z-index: -2;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        -o-object-fit: cover;
        object-position: center;
        -o-object-position: center;

        @include transform(scale(1));
        @include transition(0.25s all linear);
    }
}

.place{
    &-oval-Rcenter, &-oval-Lbottom, &-oval-Rbottom{
        position: absolute;
        z-index: -1;
    }
    &-oval-Rcenter{
        max-width: 50%;
        height: 85%;
        bottom: 0;
        right: 0;
    }
    &-oval-Lbottom{
        max-width: 50%;
        bottom: 0;
        left: 0;
    }
    &-oval-Rbottom{
        max-height: 60%;
        max-width: 60%;
        bottom: 0;
        right: 0;
    }
}

.release-time{
    font-size: 24px;
    color: $gray-10;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;

    @include maxDevice(1600px){
        font-size: 20px;
        letter-spacing: 2px;
    }

    strong{
        letter-spacing: normal;
        font-size: 36px;
        color: $gray-50;
        display: block;

        @include maxDevice(1600px){
            font-size: 28px;
        }
    }
}

.strip{
    &-bidell{
        padding: 20px;
        color: $gray-50;
        border-radius: 33px;
        @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
        @include box-shadow(4px 4px 18px rgba(156,169,185,0.5), -4px -4px 18px rgba(255,255,255,0.5));

        @include maxDevice(575px){
            padding: 15px 10px;
        }

        h4{
            color: $gray-50;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 3px;

            @include maxDevice(575px){
                font-size: 18px;
            }
        }

        .bids{
            font-size: 24px;
            font-weight: 500;
            line-height: 0.9;

            @include maxDevice(575px){
                font-size: 18px;
            }

            span{
                text-transform: uppercase;
                font-weight: 500;
                color: $gray-10;
                font-size: 16px;
                display: block;

                @include maxDevice(575px){
                    font-size: 14px;
                }
            }
        }

        .flag-icon{
            img{
                width: 48px;
                @include maxDevice(575px){
                    width: 28px;
                }
            }
        }

        .check-icon{
            width: 64px;
            height: 64px;
            cursor: pointer;
            line-height: 60px;
            text-align: center;
            border-radius: 35px;      
            @include transition(0.25s all linear);      
            @include linear-gradient(136deg, #CBE0F6, #CBE0F7);
            @include box-shadow(3px 3px 13px rgba(156,169,185,0.5));

            @include maxDevice(575px){
                width: 40px;
                height: 40px;
                margin-bottom: 0;
                line-height: 40px;
            }

            img{
                @include transition(0.25s all linear);

                @include maxDevice(575px){
                    max-width: 50%;
                    vertical-align: sub;
                    display: inline-block;
                }
            }
        }

        input:checked{
            & + .check-icon{
                @include linear-gradient(136deg, #3C3C3C, #010101);
                @include box-shadow(4px 4px 18px rgba(0,0,0,0.5), -4px -4px 18px rgba(82,82,82,0.5), inset 2px 2px 8px rgba(0,0,0,0.5), inset -2px -2px 8px rgba(60,60,60,0.5));

                img{
                    filter: brightness(10);
                }
            }
        }
    }

    &-content{
        font-size: 16px;
        font-weight: 500;
    }
}

.graph, .leader-data, .box-grid{
    border-radius: 23px;
    @include box-shadow(20px 20px 50px rgba(156,169,185,0.5), -20px -20px 50px rgba(255,255,255,0.5));

    &-info{
        top: 20px;
        left: 50px;
        color: $gray-10;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;

        @include maxDevice(991px){
            &.position-absolute{
                left: 0;
                position: relative !important;
            }
        }

        strong{
            color: $gray-50;
            font-size: 48px;
            display: block;
            line-height: 1;

            @include maxDevice(767px){
                font-size: 38px;
            }
        }

        span{
            color: $secondary-30;
            font-weight: 700;
            font-size: 22px;

            @include maxDevice(767px){
                font-size: 18px;
            }
        }
    }
}

.lead{
    &-user{
        img{
            border-radius: 50px;
            max-width: 50px;
            width: 100%;
        }
    }
    &-strip{
        line-height: 1;
        font-size: 20px;
        font-weight: 500;
        color: $secondary;
        padding: 15px 30px;
        border-radius: 55px;

        @include box-shadow(4px 4px 18px rgba(156,169,185,0.5), -4px -4px 18px rgba(255,255,255,0.5));

        @include maxDevice(575px){
            @include justify-content(space-between);
            text-align: center;
        }

        @include maxDevice(767px){
            font-size: 18px;
            border-radius: 15px;
        }
        
        &:hover, &.active{
            color: $white;
            @include box-shadow(2px 3px 3px rgba(156,169,185,0.3));
            @include linear-gradient(125deg, #FC7B45, #FE3A21);
            
            span{
                color: $white;                    
            }
        }
        
        &.li-grad{
            @include transition(all 0.2s linear);
        }

        span{
            color: $gray-10;
            font-size: 16px;
            @include transition(inherit);
        }
    }

    &-date{
        @include maxDevice(575px){
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

.nav{
    &-fill{
        justify-content: space-between;
    }

    &-tabs{
        border-width: 0 !important;

        a{
            font-size: 22px;
            font-weight: 700;
            padding-top: 25px;
            color: $secondary-30;
            padding-bottom: 25px;
            border-width: 0 !important;
            letter-spacing: -0.9830848px;
            border-radius: 19px !important;
            @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
            @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5));

            &.active{
                @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
                @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5), inset 10px 10px 40px rgba(112,122,134,0.5), inset -10px -10px 40px rgba(255,255,255,0.5));
            }

            @include maxDevice(991px){
                font-size: 16px;
            }

            & + a{
                margin-left: 35px;

                @include maxDevice(767px){
                    margin-left: 0;
                }
            }

            @include maxDevice(767px){
                margin: 5px !important;
            }
        }
    }
}
.tab{
    &-content{
        margin-top: 45px;

        @include maxDevice(991px){
            margin-top: 25px;
        }
    }
}
.tabs-content{
    .tab{
        &-content{
            font-size: 22px;
            font-weight: 300;
            margin-top: -20px;
            border-radius: 19px;
            @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
            @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5));
        }
    
        &-pane{
            padding: 80px 50px 50px;
        }
    }
}

.activites{
    &-strip{
        line-height: 1.2;
        font-size: 20px;
        color: $gray-10;
        font-weight: 500;
        padding: 15px 35px;
        border-radius: 14px;
        letter-spacing: -0.6608974px;
        @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
        @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5), inset 10px 10px 40px rgba(112,122,134,0.5), inset -10px -10px 40px rgba(255,255,255,0.5));

        @include maxDevice(767px){
            padding: 10px 15px;
            line-height: 1.35;
            font-size: 22px;
        }

        .date{
            color: $gray;
        }

        .type{
            letter-spacing: 2px;
            font-size: 14px;
            line-height: 0.8;
            margin-top: -5px;
            display: inline-block;
        }

        p{
            color: $gray-50;
            margin-bottom: 7px;
        }
    }
}

.referal{
    &-box{
        width: 100%;
        max-width: 300px;
        padding: 40px 35px;
        border-radius: 19px;
        @include box-shadow(10px 10px 40px rgba(156,169,185,.5), -10px -10px 40px rgba(255,255,255,0.5));

        @include maxDevice(767px){
            padding: 30px 25px;
        }

        h5{
            margin: 0;
            color: $gray;
            font-size: 20px;
            font-weight: 500;
        }

        .code{
            letter-spacing: -1.211645px;
            color: $secondary-30;
            font-weight: 500;
            font-size: 44px;
        }
    }
}

.profile-image{
    border-radius: 49px;
    max-width: 49px;
    width: 100%;

    @include maxDevice(575px){
        max-width: 38px;
    }
}

.multistep{
    &-form{
        padding: 30px;
        border-radius: 16px;
        @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5));

        @include maxDevice(1200px){
            padding: 15px;
        }

        @include maxDevice(767px){
            padding: 0;
            @include box-shadow(none);
            background: none !important;
        }
    }

    &-info{
        min-height: 420px;
        position: relative;
        padding: 60px 25px;
        border-radius: 16px;
        @include linear-gradient(136deg, #E0EFFD, #BEDCFD);
        @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5));

        @include maxDevice(1200px){
            padding-left: 15px;
            padding-right: 15px;
        }

        @include maxDevice(991px){
            min-height: auto;
            padding: 20px 20px 50px;
        }

        .step_count{
            color: $secondary-30;
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 28px;

            @include maxDevice(1200px){
                font-size: 22px;
            }

            @include maxDevice(991px){
                margin-bottom: 0px;
            }
        }

        h2{
            margin-bottom: 15px;
        }

        p{
            font-size: 20px;

            @include maxDevice(1200px){
                font-size: 18px;
            }
        }
    }

    &_progress{
        letter-spacing: -0.5507478px;
        position: absolute;
        font-weight: 400;
        color: $gray-50;
        font-size: 20px;
        bottom: 30px;
        right: 25px;
        left: 25px;

        @include maxDevice(991px){
            bottom: 15px;
        }

        &:after{
            left: 0;
            bottom: 0;
            height: 4px;
            width: 100%;
            content: "";
            border-radius: 4px;
            position: absolute;
            @include linear-gradient(45deg, #888888, #333333);
        }
        span{
            padding: 3px 5px 12px;
            position: relative;
            z-index: 5;

            &:after{
                left: 0;
                bottom: 0;
                opacity: 0;
                height: 4px;
                width: 100%;
                content: "";
                border-radius: 4px;
                position: absolute;
                @include linear-gradient(45deg, #eba087, #f16130);
            }

            &.active{
                color: $red;

                &:after{
                    opacity: 1;
                }
            }
        }
    }

    &-inner{
        padding: 60px 0px 140px 25px;
        min-height: 650px;

        @include maxDevice(991px){
            min-height: auto;
            padding-left: 0;
            padding-top: 25px;
            padding-bottom: 110px;
        }
    }

    &-heading{
        font-size: 28px;
        font-weight: 300;

        @include maxDevice(1200px){
            font-size: 22px;
        }

        h3{
            color: $secondary-30;
            font-weight: 700;
            font-size: 32px;

            @include maxDevice(1200px){
                font-size: 26px;
            }
        }
    }

    &-btns{
        .btn{
            min-width: 250px; 

            @include maxDevice(991px){
                min-width: 190px;
            }

            @include maxDevice(575px){
                min-width: auto;
                height: 65px;
            }
        }

        .col-md-8{
            margin-top: -100px;

            @include maxDevice(991px){
                margin-top: -80px;
            }

            @include maxDevice(767px){
                margin-top: -75px;
            }
        }
    }
}

.search{
    &-icon{
        position: absolute;
        top: 8px;
        right: 16px;

        @include maxDevice(767px){
            top: 2px;
        }
    }

    &-list{
        padding: 0 20px;

        li{
            padding: 5px 15px;

            a{
                text-decoration: none !important;
                color: $gray-50;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

    &-pic{
        margin-right: 12px;

        img{
            max-width: 50px;
            border-radius: 50px;
        }
    }
}

.custom{
    &-switch{
        padding-left: 0;

        .custom-control{
            &-input{
                &:checked~.custom-control-label::after{
                    @include translate(112px, 0);
                    @include linear-gradient(45deg, #eba087, #f16130);
                }
            }

            &-label{
                &::before{
                    border-radius: 60px;
                    width: 180px;
                    height: 60px;
                    border-width: 0;
                    left: 0 !important;
                    position: relative;
                    @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
                    @include box-shadow(10px 10px 40px rgba(156,169,185,0.5), -10px -10px 40px rgba(255,255,255,0.5));
                }
    
                &::after{
                    top: 9px;
                    left: 9px; 
                    width: 50px;
                    height: 50px;
                    border-radius: 50.5px;
                    @include transition(all 0.35s linear);
                    @include linear-gradient(136deg, #EBF3FA, #CBE0F7);
                    @include box-shadow(inset 10px 10px 40px rgba(112,122,134,0.5), inset -10px -10px 40px rgba(255,255,255,0.5));
                }
            }
        }

    }
}



// sitemap
.site-map-list{
    padding-top: 24px;
    font-weight: 400;
    font-size: 28px;
    column-count: 3;

    @include maxDevice(1200px){
        font-size: 24px;
    }

    @include maxDevice(991px){
        font-size: 20px;
    }
    @include maxDevice(767px){
        column-count: 2;
    }
    @include maxDevice(530px){
        column-count: 1;
    }

    li{
        margin-bottom: 15px;
    }
    a{
        color: $secondary;
    }
}

svg{
    line[stroke="#e0e0e0"]{
        display: none !important;
    }
}



// Media Quries
@include maxDevice(991px){
    .login-link.text-white{
        color: #2d2f33 !important;
    }
}
@include maxDevice(767px){
    .border-left-dashed{
        border-left-width: 0;
    }
}