.payment{
    &-details{
        font-size: 20px;
        font-weight: 500;
        padding-top: 22px;
        padding-bottom: 22px;

        input{
            outline: none;
            border: none !important;
            background-color: transparent;
        }

        @include maxDevice(992px){
            padding-top: 18px;
            padding-bottom: 18px;
        }
    }

    &-card{
        width: 49px;

        img{
            max-width: 100%;
            display: block;
        }

        &-number{
            input{
                width: 100%;
            }
        }

        &-expire{
            input{
                width: 92px;
            }
        }
    
        &-cvc{
            input{
                width: 60px;
            }
        }
    }
}

.StripeElement{
    width: 100%;
    &, input{
        display: block;
    }

    input{
        &::-webkit-input-placeholder {
            color: $secondary;
        }
        &:-ms-input-placeholder {
            color: $secondary;
        }
        &::placeholder {
            color: $secondary;
        }

        &:focus{
            box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
                rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
            -webkit-transition: all 150ms ease;
            transition: all 150ms ease;
        }
    }

    &--focus {
        box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
          rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
        -webkit-transition: all 150ms ease;
        transition: all 150ms ease;
    }

    &.IdealBankElement, &.FpxBankElement, &.PaymentRequestButton{
        padding: 0;
    }

    &.PaymentRequestButton{
        height: 40px;
    }
}